<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="MarkEd" Language="1033" Version="0.1.0.0" Manufacturer="YourCompany" UpgradeCode="6a2156e6-a3c8-4f26-926e-c49e3130b06f">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of MarkEd is already installed." />

    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="CompanyFolder" Name="YourCompany">
          <Directory Id="INSTALLFOLDER" Name="MarkEd" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MarkEd"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="88e4d362-19bf-4c8d-9f6c-376c52544987">
        <RegistryValue Root="HKCU" Key="Software\MarkEd" Name="ExeLocation" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
        <RemoveFile Id="CleanupMainExecutable" Name="MarkEd.exe" On="uninstall" />
        <RemoveFile Id="CleanupIcon" Name="icon.ico" On="uninstall" />
        <RemoveFile Id="CleanupDB" Name="info.db" On="uninstall" />
        <RemoveFolder Id="CleanupInstallFolder" On="uninstall" />
        <File Id="MarkEd.exe" Source="dist\MarkEd.exe" />
        <File Id="Icon.ico" Source="icon.ico" />
        <File Id="Info.db" Source="info.db" />
      </Component>
      
      <Component Id="ApplicationShortcuts" Guid="1ac86845-9c32-4c2b-8c1d-0036af9d3f3d">
        <RegistryValue Root="HKCU" Key="Software\MarkEd" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Shortcut Id="desktopShortcut" Directory="DesktopFolder" 
                  Name="MarkEd" WorkingDirectory="INSTALLFOLDER"
                  Target="[INSTALLFOLDER]MarkEd.exe"
                  Icon="MarkEdIcon" IconIndex="0" />
        <Shortcut Id="startMenuShortcut" Directory="ApplicationProgramsFolder"
                  Name="MarkEd" WorkingDirectory="INSTALLFOLDER"
                  Target="[INSTALLFOLDER]MarkEd.exe"
                  Icon="MarkEdIcon" IconIndex="0" />
        <RemoveFolder Id="CleanupShortcut" Directory="ApplicationProgramsFolder" On="uninstall" />
      </Component>

      <Component Id="PathComponent" Guid="b66b1c1c-a789-4d4c-a866-f4629e2df073">
        <RegistryValue Root="HKCU" Key="Software\MarkEd" Name="Path" Type="string" Value="1" KeyPath="yes" />
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" 
                     Permanent="no" Part="last" Action="set" System="no" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="CleanupMainApplicationFolder" Guid="*">
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\MarkEd\Cleanup" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="CompanyFolder">
      <Component Id="CleanupCompanyFolder" Guid="*">
        <RemoveFolder Id="CompanyFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\MarkEd\Cleanup" Name="CompanyFolder" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="MarkEd" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="ApplicationShortcuts" />
      <ComponentRef Id="PathComponent" />
      <ComponentRef Id="CleanupMainApplicationFolder" />
      <ComponentRef Id="CleanupCompanyFolder" />
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    </UI>

    <Icon Id="MarkEdIcon" SourceFile="icon.ico" />
  </Product>
</Wix>